# Read Internet Log Files 

* Microsoft Integration Services 
* Tableau

log files from Internet Information Services (IIS) - Two patterns


## Steps

1. Turn source ip of the client into Geolocation
    * IP geolocation services: 
        * http://www.ip2location.com/ 
        * Yahoo geo code (http://developer.yahoo.com/maps/rest/V1/geocode.html) 
        * newer http://developer.yahoo.com/geo/placefinder/.

2. Separate IP requests from robots - identify IP from robots

## Notes
...

# Graphs:

* File Access: 
    * most downloaded files: **x** (html, jpg, shtml, gif ...) **y** (K Bytes)
    * Number of Users Per Number of Visits **x**(no of visits: 1,2,3...>10) **y**(No of Users)
* Geolocation: 
    * Most Active Countries **x** (US, UK, Qatar ...) **y** (User Sessions)
    * Most Active Cities **x** (vienna, palo alto ...) **y** (User Sessions)
    * Busiest year... (x request for pages)
    * Busiest Quarter ... 
    * Busiest month 
    * Activity level by day of the week **x** (Sun, Mond, Tue ...) **y** (user sessions)
    * Activity level by hour of the day 
* Errors: 
    * Client Errors: Pie (404, 406, 403 ...)
    * Page Not Found Pie (/favicon, /pics/banners ...)
* Client Information: 
    * Client OS Pie (OS, Known robots, Macintosh...)
    * Browser Summary (MSIE, Netscape...)
    * Host report
    * Referrer report where our visitors come from (webs...)

# advise:

* coding in EN 
* c = customer // s = server

In [51]:
ap1 = patt1.split()   #14 fields
for i in range(len(ap1)):
    print(str(i) + '-' + ap1[i] + '________' + dp1[i])

0-date________2009-10-24
1-time________01:40:40
2-s-ip________134.36.36.75
3-cs-method________HEAD
4-cs-uri-stem________/
5-cs-uri-query________-
6-s-port________80
7-cs-username________-
8-c-ip________205.178.184.153
9-cs(User-Agent)________Mozilla/5.0+(Windows;+U;+Windows+NT+5.1;+en-US;+rv:1.8.1.12)+Gecko/20080201+Firefox/2.0.0.12
10-sc-status________200
11-sc-substatus________0
12-sc-win32-status________0
13-time-taken________186

In [55]:
ap2 = patt2.split()   #18 fields
for i in range(len(ap2)):
    print(str(i) + '-' + ap2[i] + '________' + dp2[i])

0-date________2011-05-16
1-time________00:00:51
2-s-ip________134.36.36.75
3-cs-method________GET
4-cs-uri-stem________/Darwin/ImageCache/cache_VBIqRju_791.jpeg
5-cs-uri-query________-
6-s-port________80
7-cs-username________-
8-c-ip________95.108.158.233
9-cs(User-Agent)________Mozilla/5.0+(compatible;+YandexImages/3.0;++http://yandex.com/bots)
10-cs(Cookie)________-
11-cs(Referer)________-
12-sc-status________304
13-sc-substatus________0
14-sc-win32-status________0
15-sc-bytes________210
16-cs-bytes________335
17-time-taken________64

# Coding

In [8]:
# import xlwt
# from pandas import DataFrame
import pandas as pd
import os
import requests

In [11]:
path = '../../_data_tmp/W3SVC2/'
files = os.listdir(path)
print(len(files))

In [12]:
# files
print("pattern1 - " + str(files[0]) )
patt1 = 'date time s-ip cs-method cs-uri-stem cs-uri-query s-port cs-username c-ip cs(User-Agent) sc-status sc-substatus sc-win32-status time-taken'
print("\n\npattern2 - " + str(files[-1]) )
patt2 = 'date time s-ip cs-method cs-uri-stem cs-uri-query s-port cs-username c-ip cs(User-Agent) cs(Cookie) cs(Referer) sc-status sc-substatus sc-win32-status sc-bytes cs-bytes time-taken'

4
pattern1 - newfile.txt


pattern2 - u_ex091025.log

In [9]:
files[2]

'u_ex091024.log'

# old

In [67]:
bad_words = ['#Software','#Version','#Date','#Fields']
data_real = []
data = []

with open(path + files[0]) as oldfile, open(path + 'newfile.txt', 'w') as newfile:
    for line in oldfile:
        if not any(bad_word in line for bad_word in bad_words):
            newfile.write(line)
print("new file created")

new file created

In [68]:
f = open(path + "newfile.txt","r") 
for line in f: 
    data_real.append(line)
    cadena = " ".join(data_real)
    cadena1 = cadena.split()
    data.append(cadena1)

In [71]:
# data

In [21]:
a = range(len(cadena1))
b = a[0:len(cadena1):14]
list_temp = []
count = 0
while (count < len(b)):
    print ('The count is:', count)
    date = [cadena1[b[count]]]
    count = count + 1

df = pd.DataFrame({'Datas': date })
##df = DataFrame({'Date': date, 'Time': time, 's_ip': s_ip, 'cs_method': cs_method,'cs_uri_stem': cs_uri_stem, 'cs_uri_query': #cs_uri_query, 's_port': s_port ,'cs_username': cs_username, 'c_ip': c_ip,'cs_User_Agent': cs_User_Agent,'sc_status': #sc_status, 'sc_substatus': sc_substatus, 'sc_win32': sc_win32, 'time_taken': time_taken})     
df.to_excel(path + 'test.xlsx', sheet_name='sheet1', index=False)

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
The count is: 9
The count is: 10

# new

In [15]:
# read files
bad_words = ['#Software','#Version','#Date','#Fields']
data_real = []
data = []

# for file in files: 
file = files[2]
with open(path + file) as oldfile: #, open(path + 'newfile.txt', 'w') as newfile:
    for line in oldfile:
        if not any(bad_word in line for bad_word in bad_words):
            #newfile.write(line);  data_real.append(line); row = " ".join(data_real)
            row = line.split()
            data.append(row)
len(data)

11

In [17]:
# create frames
a_date = []
a_cip = []
a_csus = []
a_robots = []
for i in range(len(data)):
    a_date.append(data[i][0])
    a_cip.append(data[i][8])
    a_csus.append(data[i][4])
    
    if data[i][4] == '/robots.txt':
        a_robots.append(data[i][8])
        
df = pd.DataFrame({'Dates': a_date , 'c_ip' : a_cip, 'steam': a_csus})
##df = DataFrame({'Date': date, 'Time': time, 's_ip': s_ip, 
#                  'cs_method': cs_method,'cs_uri_stem': cs_uri_stem, 
#                  'cs_uri_query': #cs_uri_query, 's_port': s_port ,'cs_username': cs_username, 
#                  'c_ip': c_ip,'cs_User_Agent': cs_User_Agent,'sc_status': #sc_status, 
#                  'sc_substatus': sc_substatus, 'sc_win32': sc_win32, 'time_taken': time_taken})   

# download excel
# df.to_excel(path + 'test.xlsx', sheet_name='sheet1', index=False)

print("data created")

data created

# new 2

In [61]:
# import xlwt
# from pandas import DataFrame
import pandas as pd
import os
import requests
# files
patt1 = 'date time s-ip cs-method cs-uri-stem cs-uri-query s-port cs-username c-ip cs(User-Agent) sc-status sc-substatus sc-win32-status time-taken'
patt2 = 'date time s-ip cs-method cs-uri-stem cs-uri-query s-port cs-username c-ip cs(User-Agent) cs(Cookie) cs(Referer) sc-status sc-substatus sc-win32-status sc-bytes cs-bytes time-taken'

In [62]:
path = '../../_data_tmp/W3SVC2/'
data = []

def read_file(file): 
    data_t = []
    bad_words = ['#Software','#Version','#Date','#Fields']
    with open(path + file) as oldfile:
        for line in oldfile:
            if not any(bad_word in line for bad_word in bad_words):
                row = line.split()
                data_t.append(row)
    return data_t


def read_files(): 
    global data
    files = os.listdir(path)
    for i in range(len(files)): 
        if files[i].startswith("u_ex"): 
            print(files[i])
            data = data + read_file(files[i])
            #create_excel(files[i])
    print("end")

In [63]:

def fill_pandas():
    ap1 = patt1.split()   #14 fields
    ap2 = patt2.split()   #18 fields
    indx = patt2.split()  #18 fileds 
    indx.append('crowder')
    
    pddf = pd.DataFrame(columns=indx); df_entry = pd.Series(index=indx)
    for dat in data: 
        #print(len(dat))
        df_entry["date"] = dat[0]
        
        pddf = pddf.append(df_entry,ignore_index=True)
    return pddf

In [64]:
read_files()
print(len(data))
# data
# main    
# if __name__ == '__main__':
#     read_files()

u_ex091024.log
u_ex091130.log
end
3664

In [65]:
df = fill_pandas()

In [66]:
df.describe()

,date,time,s-ip,cs-method,cs-uri-stem,cs-uri-query,s-port,cs-username,c-ip,cs(User-Agent),cs(Cookie),cs(Referer),sc-status,sc-substatus,sc-win32-status,sc-bytes,cs-bytes,time-taken,crowder
count,3664,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unique,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
top,2010-01-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# . BASIC geo, robot

In [25]:
# geolocalizacion
# 'pc': pc, 'city' : city, 'state_area' : area, 'country': country
pc = []; city = []; area = []; country = []
geo = []
for i in a_cip:
    ip = i
    url = 'http://freegeoip.net/json/'+ip
    r = requests.get(url)
    js = r.json()   
    
    city.append(js["city"])
    pc.append(js["zip_code"])
    area.append(js["region_name"])
    country.append(js["country_name"])
    
    geo.append(js)

In [85]:
# geo
# pc
# a_robots
# a_csus
df

         Dates             c_ip                          steam
0   2009-10-24  205.178.184.153                              /
1   2009-10-24  205.178.184.153                              /
2   2009-10-24  205.178.184.153              /Darwin/Home.aspx
3   2009-10-24  205.178.184.153                              /
4   2009-10-24  205.178.184.153                    /robots.txt
5   2009-10-24   91.212.127.100                       /abc.php
6   2009-10-24   204.244.11.121  /phpMyAdmin/scripts/setup.php
7   2009-10-24   204.244.11.121  /phpmyadmin/scripts/setup.php
8   2009-10-24   204.244.11.121         /pma/scripts/setup.php
9   2009-10-24   204.244.11.121       /mysql/scripts/setup.php
10  2009-10-24   204.244.11.121       /admin/scripts/setup.php

In [34]:
# robot search
robots = df[ df["steam"] == '/robots.txt' ]

In [112]:
robots

        Dates             c_ip        steam crowler
4  2009-10-24  205.178.184.153  /robots.txt       X

In [113]:

def check(x): 
    arob = []
    for robot in robots.values:
        arob.append(robot[1] )
    if x in arob: return "X"
    return ""

df['crowler'] = df['c_ip'].map(lambda x: check( x ))

In [114]:
df

         Dates             c_ip                          steam crowler
0   2009-10-24  205.178.184.153                              /       X
1   2009-10-24  205.178.184.153                              /       X
2   2009-10-24  205.178.184.153              /Darwin/Home.aspx       X
3   2009-10-24  205.178.184.153                              /       X
4   2009-10-24  205.178.184.153                    /robots.txt       X
5   2009-10-24   91.212.127.100                       /abc.php
6   2009-10-24   204.244.11.121  /phpMyAdmin/scripts/setup.php
7   2009-10-24   204.244.11.121  /phpmyadmin/scripts/setup.php
8   2009-10-24   204.244.11.121         /pma/scripts/setup.php
9   2009-10-24   204.244.11.121       /mysql/scripts/setup.php
10  2009-10-24   204.244.11.121       /admin/scripts/setup.php

# . concatenate pandas

In [45]:
dfs = pd.read_excel(path + 'test.xlsx', sheet_name='sheet1', index=False)

In [47]:
frames = [df, dfs]

In [48]:
result = pd.concat(frames)

In [50]:
# result

In [ ]:
if cs_uri_stem = '/robots.txt'

In [4]:
# 091130 - mixed file with errors

# .Others

In [6]:
# test tf 
import tensorflow as tf

In [7]:
import tensorflow.contrib.eager as tfe

tf.enable_eager_execution()

print("TensorFlow version: {}".format(tf.VERSION))
print("Eager execution: {}".format(tf.executing_eagerly()))

WARNING:tensorflow:From /Users/davidvelatirado/miniconda3/lib/python3.6/site-packages/tensorflow/contrib/learn/python/learn/datasets/base.py:198: retry (from tensorflow.contrib.learn.python.learn.datasets.base) is deprecated and will be removed in a future version.
Instructions for updating:
Use the retry module or similar alternatives.
TensorFlow version: 1.7.0
Eager execution: True